*
	margin: 0
	padding: 0

#three-container
	position: relative
	width: 100%
	height: 100vh

div.blendCircle
	position: fixed
	top: 50%
	left: 50%
	transform: translateX(-50%) translateY(-50%)
	z-index: 10
	mix-blend-mode: difference
	border: 170px solid #fbff00
	width: 850px
	height: 850px
	border-radius: 50%

